/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Fonte */
body {
  font-family: arial, verdana, sans-serif;
  font-size: 16px;
}

ul.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-begin;
  background-color:  #333399;
  list-style: none;
}

ul.menu li a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

ul.menu li a:hover{
  background-color: #19194d;
}

div.container {
  display: flex;
  flex-direction: column;
}

header, main, footer {
  padding: 10px;
  margin: 10px;
}

p {
  color: rgb(28,28,28);
  padding: 10px;
  padding-top: 0;
  margin: 10px 5px 10px 5px;
}

h2 {
  color:  #5353c6;
}
